:root{
	--wid: 21;
	--hei: 17;
	--headdirection: 0% 0% 0% 0%;
	--skin0: url("resources/default/skin0.png");
	--skin1: url("resources/default/skin1.png");
	--skin2: url("resources/default/skin2.png");
	--bgground: url("resources/default/background.png");
	--fruit: url("resources/default/fruit.png");
	--box-size: 50px;
}
body{
	margin: 0;
	padding: 0;
}
#snake{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	width: calc((var(--wid) * var(--box-size)));
	height: calc((var(--hei) * var(--box-size)));
	background-color: green;
	background-image: var(--bgground);
	background-size: var(--box-size) var(--box-size);
	background-repeat: repeat;
	margin: 0 auto;
}
.a, #frucht{
	position: absolute;
	width: var(--box-size);
	height: var(--box-size);
}
.ba{
	background-color: #F699CD;
	background-image: var(--skin1);
	background-size: var(--box-size) var(--box-size);
	background-repeat: repeat;
}
.bb{
	background-color: #FC94AF;
	background-image: var(--skin2);
	background-size: var(--box-size) var(--box-size);
	background-repeat: repeat;
}
.c{
	background-color: #F26B8A;
	border-radius: var(--headdirection);
	background-image: var(--skin0);
	background-size: var(--box-size) var(--box-size);
	background-repeat: repeat;
}
#frucht{
	background-image: var(--fruit);
	background-size: var(--box-size) var(--box-size);
	background-repeat: repeat;
}
#snejklus{
	position: absolute;
	top: calc(50% - 5vh);
	left: 50%;
	transform: translate(-50%,-50%);
	font-size: 5vh;
	text-shadow: 2px 2px 2px white;
	text-shadow: -2px 2px 2px white;
	text-shadow: 2px -2px 2px white;
	text-shadow: -2px -2px 2px white;
}
#wynikulus{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	text-shadow: 2px 2px 2px white;
	text-shadow: -2px 2px 2px white;
	text-shadow: 2px -2px 2px white;
	text-shadow: -2px -2px 2px white;
}
#divulus{
	position: absolute;
	top: calc(50% + 5vh);
	left: 50%;
	transform: translate(-50%,-50%);
	z-index: 1;
}
img{
	width: var(--box-size);
	height: var(--box-size);
}
.dimg{
	width: 50px;
	height: 50px;
}

#github {
	font-size: 16px;
	position: absolute;
	top: 100vh;
	left: 100vw;
	width: 100vw;
	text-align: right;
	transform: translate(calc(-100% - 10px), calc(-100% - 10px));
}
#github a{
	text-decoration: none;
	color: black;
}
#github a:hover{
	text-decoration: underline;
}
